* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* head */
.head {
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.head-text {
  padding: 20px 0 0 20px;
  color: gray;
}

/* main */
.main {
  width: 840px;
  margin: 50px auto;
  color: gray;
}

.main-item {
  padding: 30px 0;
  border-bottom: 1px solid gray;
}

a {
  color: gray;
}
