* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: plum;
}

.header > div {
  background-color: pink;
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
}

.header > :first-child {
  margin-right: auto;
}

/* main */
.main {
  width: 1000px;
  margin: 0 auto;
  background-color: greenyellow;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.box {
  max-width: 700px;
  flex-grow: 1;
  padding: 20px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.box > div {
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
  background-color: yellow;
}

/* footer */
.footer {
  width: 100%;
  padding: 20px;
  background-color: blue;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.footer > div {
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  margin: 10px;
  background-color: skyblue;
}
